<h1>Puppies!!!</h1>
<ul>
<% @puppies.each do |puppy| %>
<li>Name: <%= puppy.name %> -  <%= link_to 'Show', puppy_path(puppy.id) %> </li>
<li>Age: <%= puppy.age %></li>
<% end %>
</ul>
<p><%= link_to 'Add New Puppy List', new_puppy_path %></p>